

.chek{
	margin-top: -10%;
}

/*Pantalla-1*/
.informative-text{
	color:$soft_gray;
}

.register-btn{
	width:100%;
}
.carousel .carousel-item > img {
	width:60%;
	margin-top:50px;
}
.btn{
	box-shadow:none;
	border-radius:5px;
	background-color: $btn_colour;
}

.carousel .indicators .indicator-item{
	background-color:$bullet_red;
}
/*Pantalla-1*/

/* vista dos */
.bold-informative-text{
	font-weight:bold;
}
/* fin vista dos */


#signup{
	padding:20px;
	font-family: 'Lato', sans-serif
}
.image{
	height:150px;
	width:auto;
	margin-top:50px;
}

/*-----------INICIO ESTILOS PANTALLA 3-----------------------------*/

.and-pantalla3-seccion{
	div .and-icono-flecha{
		margin-top: 8%;
		font-size:44px;
	}
	.and-img-message{
		display:flex;
		justify-content: center;

		img{
			height: 90px;
		}
	}
	.and-titulo{
		font-size: 150%;
		font-weight: 600;
	}
	.and-mensajeGris{
		padding: 0% 5%;
		color: $soft-gray;
	}
	.and-numero{
		color: $dark-purple;
		display: inline-block;
	}
	.and-input{
		color: $soft-gray;
		padding-top: 50px;
		display:inline-block;
		.material-icons{
			display:inline-block;
		}
		.and-input-code{
			display:inline-block;
			width: 270px;
		}
	}
	.and-reintentar-div{
		margin-left: 100px;
	}
	.and-reintentar{
		color: $soft-gray;
		display:inline-block;
		font-size: 14px;
	}
}
/*-----------------------FIN  ESTILOS PANTALLA 3-----------------------------*/
/*-----------------------INICIO ESTILOS PANTALLA 5-----------------------------*/

.main_text{
	font-weight:bold;
	font-size:26px;
}
.fill-text-info{
	color: $soft_gray;
}


/* estilos modificados*/
[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
	content: '';
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	z-index: 0;
	border: 2px solid rgba(90, 90, 90, 0.59);
	border-radius: 3px;
	margin-top: 2px;
	transition: .2s;
}   

/* fin pantalla 1*/

/*comienzo pantalla 7*/
#hola{
	height: 20vh;
	margin-top: 20%;
}

#imagen-icono{
	background-color: #49233b;
	height: 50vh;
}

#titulo-hola{
	color: white
}

span{
	color: #00c3a3;
}

.material-icons{
	color: #00c3a3;
	font-size: 15px;
	margin-right: 3%;
}



h6 {
	font-size: 1rem;
	line-height: 59%;
	margin-right: 20%;
	margin: 1rem;
	margin-left: -104%;

}

.material-icons{
	color: white;
}

#ultima{
	background-color: #451e36;
	height: 41vh;
	margin-top: -6%;
}

#icono-tres{
	height: 100px;
	margin-top: 5%;
}

#parr-ultimo{
	color: white;
	margin-top: 5%;
	margin-left: 10
}

span{
	margin-top: 10%;
}

#icono-cuatro{
	
}
/* fin pantalla 7*/

.and-pantalla5-seccion{
	background-color: $btn_colour;
	height:100%;
	font-size: 18px;
	font-weight: bold;
	.and-img-check{
		width:90px;
		margin-top: 200px;
	}
}
/*-----------------------FIN ESTILOS PANTALLA 5-----------------------------*/

