.and-pantalla3-seccion{
	div .and-icono-flecha{
		margin-top: 8%;
		font-size:44px;
		
	}

	.and-img-message{
		display:flex;
		justify-content: center;

		img{
		height: 90px;
		}
	}
	.and-titulo{
		font-size: 150%;
		font-weight: 600;
	}
	.and-mensajeGris{
		padding: 0% 5%;
		color: $soft-gray;
	}
	.and-numero{
		color: $dark-purple;
		display: inline-block;
	}
	.and-input label {
		color: $soft-gray;
		top: 120%;

	}
	.and-reintentar{
		color: $soft-gray;
		display:inline-block;

	}
}