
.chek{
	margin-top: -10%;
}

/*Pantalla-1*/


.btn{
    text-decoration: none;
    color: #fff;
    background-color: #fbd43b;
    text-align: center;
    cursor: pointer;
    padding: 10px 100px;
    margin-top: -7%;
}

.slider .indicators .indicator-item {
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 12px;
    background-color: red;
    border-radius: 50%;
}

.slider .slides li img {
    height: 71%;
    width: 80%;
}

#parrafo{
	margin-top: 10%;
}

.style{
	height:420px;
}
/*Pantalla-1*/


#signup{
	padding:20px;
	font-family: 'Lato', sans-serif
}
.image{
	height:150px;
	width:auto;
	margin-top:50px;
}

.create_account_btn{
	background-color: $btn_colour;
	box-shadow:none;
	border-radius:5px;
}

.main_text{
	font-weight:bold;
	font-size:30px;
}
.fill-text-info{
	color: $soft_gray;
}
